<a href="https://colab.research.google.com/github/andremcn/deploy-web/blob/master/Fase2R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Seja ensinável e execute as tarefas compartilhadas. Por fins didáticos e para melhor separação mental das sintaxes Python/R, realizaremos todos os exercícios de Python em R.
![alt text](https://media.tenor.com/images/51e469036910eb2ece677863200af5a8/tenor.gif)

Crie um algoritmo em R que peça uma nota, entre 0 e 100. Mostre uma mensagem caso o valor seja inválido e continue pedindo até que o usuário informe um valor válido.

In [22]:

while (TRUE) {a = as.integer(readline("Insira uma nota entre 0 e 100 "))

if  (a>=0 & a<=100) {
    print ("Obrigado")
    break
    } else {
      print ("Entrada invalida")
      next
    }
  
}

Insira uma nota entre 0 e 100 -9
Insira uma nota entre 0 e 100 9
[1] "Entrada invalida"
[1] "Obrigado"

Crie um algoritmo em R que leia um nome de usuário e a sua senha e não aceite a senha igual ao nome do usuário, mostrando uma mensagem de erro e voltando a pedir as informações.<br>

In [25]:
while (TRUE) 
{user = readline("Insira user ")
senha = readline("Insira senha")

if  (user == senha) {
    print ("Invalida")
    next
    } else {
      print ("Obrigado")
      break
   
    }
  
}

Insira user juju
Insira senhajuju
Insira user juju
Insira senhajuju
Insira user dede
Insira senhajuju
[1] "Invalida"
[1] "Invalida"
[1] "Obrigado"

Crie um algoritmo em R que leia e valide as seguintes informações:
* Nome: maior que 3 caracteres;
* Idade: entre 0 e 150;
* Salário: maior que zero;
* Sexo: 'f' ou 'm';
* Estado Civil: 's', 'c', 'v', 'd';

In [33]:
install.packages("stringr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
library(stringr)


while (TRUE){
nome = readline("Insira o nome > 3 caracteres ")
if  (str_length(nome) <= 3) {
    print ("nome Invalido")
    next
    } else {break}
}

while (TRUE){
idade = as.integer(readline("Insira idade [0-150]"))
if  (idade <= 0 | idade >= 150) {
    print ("idade Invalida")
    next
    }else {break}
} 


while (TRUE){
salario = as.numeric(readline("Insira salario >0"))
if  (salario <= 0) {
    print ("salario Invalido")
    next
    }else {break}
} 

while (TRUE){
sexo = as.character(readline("Insira sexo (f,m)"))
if  (sexo %in% c("f", "m")) {
    break
   
    }else {print ("sexo Invalido")
    next}
} 

while (TRUE){
estadocivil = as.character(readline("Insira estado civil (s,c,v,d)"))
if  (estadocivil %in% c("s", "c", "v", "d")) {
     break
    }else { 
    print ("sexo Invalido")
    next}
}

Insira o nome > 3 caracteres juju
Insira idade [0-150]30
Insira salario >0300.00
Insira sexo (f,m)f
Insira estado civil (s,c,v,d)s

Supondo que a população de um país A seja da ordem de 80000 habitantes com uma taxa anual de crescimento de 3% e que a população de B seja 200000 habitantes com uma taxa de crescimento de 1.5%.<br><br> Crie um algoritmo em R que calcule e escreva o número de anos necessários para que a população do país A ultrapasse ou iguale a população do país B, mantidas as taxas de crescimento.

In [7]:
PopA <- 80000
PopB <- 200000
cont <- 0
while (PopA <= PopB){
  PopA <- PopA * (1 + 0.03)
  PopB <- PopB * (1 + 0.015)
  cont <- cont + 1
}

print (paste("Total de anos e", cont))

[1] "Total de anos e 63"

Desenvolva um gerador de tabuada, capaz de gerar a tabuada de qualquer número inteiro entre 1 a 10. O usuário deve informar de qual numero ele deseja ver a tabuada. A saída deve ser conforme o exemplo abaixo:
Tabuada de 5:<br>
5 X 1 = 5<br>
5 X 2 = 10<br>
...<br>
5 X 10 = 50<br>

In [13]:
a <- as.integer(readline("Insira um numero"))

for (x in 1:10) {
  print(paste (a, "x", x, " = ", a*x ))
}

Insira um numero5
[1] "5 x 1  =  5"
[1] "5 x 2  =  10"
[1] "5 x 3  =  15"
[1] "5 x 4  =  20"
[1] "5 x 5  =  25"
[1] "5 x 6  =  30"
[1] "5 x 7  =  35"
[1] "5 x 8  =  40"
[1] "5 x 9  =  45"
[1] "5 x 10  =  50"

Crie um algoritmo em R que leia três números e mostre o maior e o menor deles.

In [16]:
a <- as.integer(strsplit(readline("Digite 3 numeros "), ",")[[1]])
max(a)
min(a)

Digite 3 numeros 40,5,3,1

[1] 40

[1] 1

Crie um algoritmo em R que peça 2 números, base e expoente, calcule e mostre o primeiro número elevado ao segundo número. Não utilize a função de potência da linguagem.

In [45]:
a <- as.integer(readline("Digite base"))
base <- a
b <- as.integer(readline("Digite expoente"))
if (b == 1 ) {
  a
}else{
for (x in 1:b){
  print (x)
   a <- a * base
}
print (a)
}

Digite base2
Digite expoente2
[1] 1
[1] 2
[1] 8

Crie um algoritmo em R que peça 10 números inteiros, calcule e mostre a quantidade de números pares e a quantidade de números impares.

In [48]:
a <- as.integer(strsplit(readline("Digite 10 numeros inteiros"), ",")[[1]])
cont_impar <- 0
cont_par <- 0
for (x in a){
resto <- x%%2
ifelse(resto>0, cont_impar <- cont_impar +1, cont_par <- cont_par +1)
}
print (paste("sao ", cont_par, " pares"))
print (paste("sao ", cont_impar, " impares"))

Digite 10 numeros inteiros2,2,2,2,4,0,10,1,1
[1] "sao  7  pares"
[1] "sao  2  impares"

Um funcionário de uma empresa recebe aumento salarial anualmente: Sabe-se que: Esse funcionário foi contratado em 1995, com salário inicial de R$ 1.000,00; Em 1996 recebeu aumento de 1,5% sobre seu salário inicial; A partir de 1997 (inclusive), os aumentos salariais sempre correspondem ao dobro do percentual do ano anterior. Crie um algoritmo em R que determine o salário atual desse funcionário. Após concluir isto, altere o programa permitindo que o usuário digite o salário inicial do funcionário

In [51]:
a <- as.numeric(readline("Digite o salario"))
salario_inicial <- a
salario <- salario_inicial *1.0015

for (x in 1997:2020) {

   salario = salario  * (1 + (0.015 *2)) 

}
print (salario)

Digite o salario1000
[1] 2035.843

Crie um algoritmo em R com uma função que necessite de um argumento. A função retorna o valor de caractere ‘P’, se seu argumento for positivo, e ‘N’, se seu argumento for zero ou negativo.

In [53]:
checaarg <- function(num) {
  ifelse(num>0, return("P"), return("N"))
  
}
checaarg(-1)

[1] "N"

Construa uma função que receba uma data no formato DD/MM/AAAA e devolva uma string no formato D de mesPorExtenso de AAAA. Opcionalmente, valide a data e retorne NULL caso a data seja inválida.

In [63]:
Formatdata <- function(data_str) {
  
  meses <- c("jan","fev","mar","abr","maio","jun","jul","ago","set","out","nov","dez")

  
  a <- as.integer(strsplit(data_str, "/")[[1]])

  mes <- a[2]

  print (paste(a[1], "de ", meses[mes], " de", a[3]))
}
Formatdata("23/1/1971")

[1] "23 de  jan  de 1971"